body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f5eef8;
}

@media screen and (max-width: 375px) {
  .wrapper {
    max-width: 100%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  font-family: 'Raleway', sans-serif;
  background-color: #d7bde2;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}

.header .header--logo {
  margin: 3% 0 0 5%;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.9rem;
  text-transform: uppercase;
  cursor: pointer;
}

.header .header--logo a {
  color: #6600cc;
  text-decoration: none;
}

.header .header--logo a:hover {
  text-decoration: underline;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  margin: 3% 5% 0 0;
  padding: 0;
}

.header .navbar--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.header .navbar--item {
  list-style-type: none;
}

.header .navbar--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150%;
  height: 200%;
  border-radius: 20px;
  text-decoration: none;
  color: #000000;
}

.header .navbar--link:hover {
  color: white;
  background-color: #6600cc;
  text-decoration: none;
}

.main {
  padding: 5%;
  line-height: 1.5rem;
  text-align: justify;
}

.main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 375px) {
  .main_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main_info--photo {
  max-width: 260px;
}

@media screen and (max-width: 375px) {
  .main_info--photo {
    max-width: 75%;
    margin: 0 auto;
  }
}

.main_info .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15%;
}

@media screen and (max-width: 375px) {
  .main_info .address {
    margin: 0;
  }
}

.main_info .address--name {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main_info .address--name {
    max-width: 100%;
    margin: 10% auto;
    font-size: 1.5rem;
  }
}

.main_info .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  font-size: 1.4rem;
}

@media screen and (max-width: 375px) {
  .main_info .contacts {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
  }
}

.main_info .contacts--link {
  color: black;
  text-decoration: none;
}

.main_info .contacts--link:hover {
  text-decoration: underline;
  color: #6600cc;
}

.education {
  line-height: 2rem;
  margin-bottom: 10%;
}

.education .education--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 2.5% 0 0;
  padding: 2.5% 0;
  font-size: 2rem;
  border: dashed 2px  #6600cc;
  color: black;
  cursor: pointer;
}

.education .education--header:hover {
  color: #9933ff;
}

.education .education--header .education--h2 {
  margin: 0 5% 0 0;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .education .education--header .education--h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.education .education--body {
  display: none;
  border: dashed 2px  #6600cc;
  color: black;
}

@media screen and (max-width: 375px) {
  .education .education--body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.education .education--info {
  padding: 0 0 2% 5%;
  background-color: rgba(230, 204, 255, 0.4);
  border-bottom: dashed 1px black;
}

@media screen and (max-width: 375px) {
  .education .education--info {
    padding: 0 5% 2%;
  }
}

.education .education--info:hover {
  background-color: rgba(102, 0, 204, 0.2);
}

.education .education--place {
  padding-top: 2%;
}

.education .body--active {
  display: block;
}

.education .header--active {
  color: #9933ff;
  background-color: rgba(102, 0, 204, 0.4);
}

.education .fa-sort-down {
  position: relative;
  top: -5px;
}

.education .fa-sort-up {
  position: relative;
  top: 5px;
}

.projects {
  margin: 20px auto;
  background-color: rgba(230, 204, 255, 0.4);
}

@media screen and (max-width: 375px) {
  .projects {
    width: 100%;
  }
}

.projects .slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #000000;
}

@media screen and (max-width: 375px) {
  .projects .slide {
    width: 100%;
    height: 100%;
  }
}

.projects .slide img {
  max-width: 60%;
  margin: 0 0 0 auto;
}

.projects .slide_desc {
  position: absolute;
  top: 20%;
  left: 10%;
}

@media screen and (max-width: 375px) {
  .projects .slide_desc {
    top: 10%;
    left: 5%;
  }
}

.projects .slide_desc .slide_desc--h2 {
  margin: 0 5% 0 0;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  text-align: left;
}

@media screen and (max-width: 375px) {
  .projects .slide_desc .slide_desc--h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .projects .slide_desc .slide_desc--h2 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

.projects .slide_desc .slide_desc--list {
  padding-top: 10%;
  padding-left: 10%;
  list-style-type: disc;
  font-size: 1rem;
  line-height: 2.5rem;
}

@media screen and (max-width: 375px) {
  .projects .slide_desc .slide_desc--list {
    display: none;
  }
}

.projects .slide_desc .desc_show {
  display: none;
}

@media screen and (max-width: 375px) {
  .projects .slide_desc .desc_show {
    display: block;
    font-size: 0.6rem;
    line-height: 1rem;
  }
}

.projects .slide_desc .slide_desc-mobile {
  display: none;
}

.projects .slide_desc .desc-show {
  display: block;
}

.projects .slide_desc .slide_desc--list-mobile {
  padding-top: 0;
  font-size: 0.6rem;
  line-height: 1rem;
}

.projects .slick-prev:before,
.projects .slick-next:before {
  color: #6600cc;
  font-size: 25px;
}

@media screen and (max-width: 375px) and (max-width: 375px) {
  .projects .slick-prev:before,
  .projects .slick-next:before {
    display: none;
  }
}

.iframe {
  width: 100%;
  height: 100vh;
}

.fix_button {
  position: fixed;
  left: 83%;
  display: block;
  width: 100px;
  height: 50px;
  padding: 0;
  border: solid 1px #ababab;
  border-radius: 4%;
  background-color: #ababab;
  color: white;
  cursor: pointer;
}

.fix_button:hover {
  color: black;
  background-color: white;
}

@media screen and (max-width: 374px) {
  .fix_button {
    left: 67%;
  }
}

.fix_button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.fix_button a:hover {
  color: black;
}

.button_mobile {
  top: 55%;
  cursor: pointer;
}

@media screen and (max-width: 374px) {
  .button_mobile {
    display: none;
  }
}

.button_desktop {
  top: 70%;
  cursor: pointer;
}

.mobile_width {
  margin: 0 auto;
  max-width: 375px;
}

.body_project {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */